#wrapper{
  width:100%;
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#login-button{
  width: 100%;
}

#title{
  font-size: 2rem;
  margin-bottom: 30px;
}

.input-group input{
  font-size: 1.5rem;
}

#login-button{
  font-size: 1.5rem;
}