doctype html
html
  head
    title todo
    
    link(rel='stylesheet' type='text/css' href='/stylesheets/reset.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/todo_index.css')
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap' rel='stylesheet')
    meta(charset='UTF-8')
  body
    #wrapper
      #container
        if existence
          #title #{name}님, 환영합니다^^
          #content
            a(style="cursor: pointer;" onclick="document.querySelector('#login-form').submit();") 로그아웃
            form#login-form(action="/sessions/destroy" method="POST" style="display:none;")
        else
          #title 로그인해주세요
          #content
            a(href="/users/new") 회원가입
            a(href="/sessions/new") 로그인