/* CSS Variables */
:root{
    --default-margin: 10px;
    --default-padding: 10px;

    --body-background-color: #F5F6F7;
    --body-font-family: 'Noto Sans KR', sans-serif;

    --title-font-size: 3rem;
    --title-font-color: #08A600;
    --title-font-weight: 900;

    --content-font-size: 1.3rem;
    --content-font-color: #000000;
    --content-font-weight: 900;

    --input-height: 50px;
    --input-border-color: #DADADA;
    --input-border-width: 1px;
    --input-padding-left-right: 14px;
    --input-padding-up-down: 10px;
    
    --primary-button-size: 2rem;
    --primary-button-font-weight: 500;

    --pass-font-color: #08A600;
    --error-font-color: #FF0000;
    --message-font-size: 1.3rem;
    --message-font-weight: 500;
    --message-top-margin: 5px;

    --button-background-color: #08A600;
}

/* 최상위 CSS */
:root .sel {
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 98% 50% no-repeat;
    background-size: 20px 8px;
}

:root .underline {
    text-decoration: underline;
}

:root .message {
    font-size: var(--message-font-size);
    font-weight: var(--message-font-weight);
    margin-top: var(--message-top-margin);
}
:root .pass {
    color: var(--pass-font-color);
}
:root .fail {
    color: var(--error-font-color);
}

/* section */
#wrapper {
    font-size: var(--content-font-size);
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--title-font-color);
    text-align: center;
    margin: var(--default-margin) 0 var(--default-margin) 0;
}

.join-title {
    margin-bottom: var(--default-margin);
}

.join-content {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.join-content div {
    font-size: var(--content-font-size);
    font-weight: var(--content-font-weight);
    color: var(--content-font-color);
    margin: var(--default-margin) 0 var(--default-margin) 0;
}

.join-row input, .join-content select, .interest-input-wrapper {
    width: 100%;
    height: var(--input-height);
    border-color: var(--input-border-color);
    border-width: var(--input-border-width);
    border-style: solid;
    box-sizing: border-box;
    padding: var(--input-padding-up-down) var(--input-padding-left-right) var(--input-padding-up-down) var(--input-padding-left-right);
}

.join-row input:focus, .join-content select:focus{
    border-color: var(--title-font-color);
    outline: none;
}

.focus {
    border-color: var(--title-font-color);
    outline: none;
}

.birthdate-wrapper {
    display: flex;
    justify-content: space-between
}

.birthdate-wrapper span {
    width: 100%;
}

.birthdate-mm, .birthdate-dd {
    padding-left: var(--default-padding);
}

.join-content .button-area {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.button-area span {
    width: 100%;
}

.button-join {
    padding-left: var(--default-padding);
}

.primary-button {
    width: 100%;
    height: 50px;
    font-size: var(--primary-button-size);
    font-weight: var(--primary-button-font-weight);
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #08a600;
}

/*
tag 참고
https://www.cssscript.com/tags-input-tagplug/
*/
.interest-input-wrapper{
    padding: 0;
    background: #ffffff;
    height: auto;
}

#interest {
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    width: auto;
    max-width: 100%;
}

.interest-input-wrapper .tag {
    display: inline-block;
    border: .1rem solid #BBBBBB;
    color: #666666;
    background-color: var(--body-background-color);
    border-radius: 10px;
    padding: 5px 3px 5px 10px;
    margin-left: .5rem;
    margin-top: 1rem;
}

.interest-input-wrapper .tag a {
    margin: 0 10px 3px;
    display: inline-block;
    cursor: pointer;
}