extends layout

block content
  h1
  | 메인페이지

  div
    if existence
      | #{name}님, 환영합니다^^
      a(style="cursor: pointer;" onclick="document.querySelector('#login-form').submit();") 로그아웃
      form#login-form(action="/sessions/destroy" method="POST" style="display:none;")
    else
      | 로그인해주세요.
      a(href="/users/new") 회원가입
      a(href="/sessions/new") 로그인