doctype html
head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // above: bootstrap login

  link(rel='stylesheet' type='text/css' href='/stylesheets/reset.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/todo_login.css')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap' rel='stylesheet')
  title todo
  meta(charset='UTF-8')
#wrapper
  header
    #title
      | todo
  #container
    #content
      form#login(action='./create' name='login' autocomplete='off' method='POST')
        .input-group.mb-3
          input.form-control(type='text' name='id' placeholder='아이디' aria-label='ID' maxlength='20')
        .input-group.mb-3
          input.form-control(type='password' name='password' placeholder='비밀번호' aria-label='Password' maxlength='16')
        #button-area.input-row
          button#login-button.primary-button.btn.btn-success(aria-label='Login')
            | 로그인
          if valid === 'false'
            span#login-message.message.fail
              | 아이디 또는 비밀번호가 정확하지 않습니다.
          else
            span#login-message.message.fail(style='visibility: hidden;') 
              | 아이디 또는 비밀번호가 정확하지 않습니다.
            
  footer
// under bootstrap js
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
